<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Comptes</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/bootsrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="css/style.css"
	th:href="@{css/style.css}" />
</head>
<body>

	<header>
		<div class="navbar navbar-default" style="background-color:#EAAB1C;">
			<div class="navbar-header">
			 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    <img href="/" src="../images/logo.png" height="50"/>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/acceuil" style="color:black;">Acceuil</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="/nv" style="color:black;">Créer Compte</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a  href="/" style="color:black;">Consulter votre compte</a></li>
			</ul>
	

		</div>
		
	</header>
	<br>

	<div class="container">
		<p></p>
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-primary" style="border-color:#dc513e;">
				<div class="panel-heading" style="background-color:#dc513e; border-color:#dc513e;">Créer un nouveau compte</div>
				<div class="panel-body">
					<form action="create" method="post">
						<div class="form-group">
							<label class="control-label">Code : </label> <input
								class="form-control" type="text" name="codeCompte">
						</div>
						<div class="form-group">
							<label class="control-label">Nom :</label> <input
								class="form-control" type="text" name="nom">
						</div>
						<div class="form-group">
							<label class="control-label">Email :</label> <input
								class="form-control" type="text" name="email">
						</div>
						<div class="form-group">
							<label class="control-label">Type de compte :</label> <select
								class="form-control" id="typeCompte" name="typeCompte">
								<option></option>
								<option value="compteCourant">Courant</option>
								<option value="compteEpargne">Epargne</option>
							</select>
						</div>
						<div class="form-group" id="decouvert">
							<label class="control-label">Découvert :</label> <input
								class="form-control" type="text" name="decouvert">
						</div>
						<div class="form-group" id="taux">
							<label class="control-label">Taux :</label> <input
								class="form-control" type="text" name="taux">
						</div>
						<div class="form-group">
							<label class="control-label">Solde Initial :</label> <input
								class="form-control" type="text" name="solde">
						</div>
						<div class="form-group pull-right">
							<br>
							
							<button class=" btn btn-primary " style="background-color:#dc513e; border-color:#dc513e;">Ajouter</button>
							&nbsp;&nbsp;
							<button class="btn btn-default" style="border-color:#dc513e;">
								<a th:href="@{/}" style="color:#dc513e;">Annuler</a>
							</button>
							
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>